.container {
    display: flex;
    flex-wrap: wrap;
}

.item {
    flex: 1 0 30%;
    margin: 2px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-basis: auto;
}

.item img {
    max-width: 100%;
    max-height: 100%;
    object-fit: fill;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {

.item {
    flex: 1 0 30%;
    margin: 4px;
    height: 110px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-basis: auto;
}
}